<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lensyn.limit.dao.PaginationMapper">

    <select id="getNoticeByCondition" resultType="com.lensyn.limit.entity.NoticeCondition">
      SELECT * FROM portal_notice
      WHERE receiver = #{receiver}
        <if test="title!=null">
            and title like '%${title}%'
        </if>
        <if test="senderName!=null">
            and senderName like '%${senderName}%'
        </if>
        limit #{startPosition},#{rows}
    </select>

    <select id="getNoticeSum" resultType="int">
        SELECT count(*) FROM portal_notice
        WHERE receiver = #{receiver}
        <if test="title!=null">
            and title like '%${title}%'
        </if>
        <if test="senderName!=null">
            and senderName like '%${senderName}%'
        </if>
    </select>

</mapper>

